# Example cron file for running this docker container as a cron job.
# 1. Update the environment variable(s) and command(s) to match your system
# 2. Place in /etc/cron.d/
# 3. Change the owner to root
# 4. Change the permissions to 0644

SHELL=/bin/sh
MAILTO=""

# Recurs at 11 PM EST every Tuesday
0 16 * * 2    root    /usr/local/bin/docker-compose -f ./docker-compose.yml run cfb-trivia-tuesday
