[Unit]
Description=Triggers cfb-trivia.service
Documentation=https://github.com/AllHailSubreddit/cfb-trivia/

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=Tue 17:00
